workflows/Phase 1 - Request Analysis.json
{
  "name": "Phase 1 - Request Analysis",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "readStatus": "unread"
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -1904,
        416
      ],
      "id": "ebc0165d-4a12-4a2e-a12c-9099e47611e0",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "1ewuYqHBFtobt1D6",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Parse & Route').item.json.action }}",
                    "rightValue": "complete",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "route-complete"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Complete"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "route-date",
                    "leftValue": "={{ $('Parse & Route').item.json.action }}",
                    "rightValue": "need_door_data",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Door Data"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "route-data",
                    "leftValue": "={{ $('Parse & Route').item.json.action }}",
                    "rightValue": "need_port_data",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Port Data"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Fallback"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -224,
        352
      ],
      "id": "e2129e08-0298-4e82-9ce7-fba0344c9afa",
      "name": "Router"
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "reply",
        "threadId": "={{ $('Process Email').first().json.emailMeta.threadId }}",
        "messageId": "={{ $('Process Email').first().json.emailMeta.id }}",
        "message": "=Dear Customer,\n\nThank you for your shipping inquiry.\n\n{{ $('Parse & Route').first().json.currentDetails !== 'No shipment details could be extracted' ? 'Here is what we have captured so far:\\n\\n' + $('Parse & Route').first().json.currentDetails + '\\n\\n━━━━━━━━━━━━━━━━━━' : '' }}\n\nTo provide you with an accurate quotation, we need the following information:\n\n{{ $('Parse & Route').first().json.missingFormatted }}\n\nPlease reply with the missing details and we will send your quote promptly.\n\nBest regards,\nPricing Team",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        224,
        384
      ],
      "id": "7f744fe4-ee15-4787-a7d2-ad338c330b72",
      "name": "Reply: Ask Data",
      "webhookId": "b9968557-201a-481e-89bc-9f5e1dba8091",
      "credentials": {
        "gmailOAuth2": {
          "id": "1ewuYqHBFtobt1D6",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// STRUCTURED OUTPUT PARSER & ROUTER v2\n// - Generates unique RFQ IDs\n// - Robust JSON parsing with multiple fallbacks\n// - Validates and normalizes shipment data\n// - Handles pod_hint and delivery_deadline\n// - Determines routing action\n// - Formats all email content\n// - Concatenates multi-shipment data for Google Sheets\n// ========================================\n\nconst input = $input.first().json;\nconst aiRaw = input.text || input.output || '';\nconst emailMeta = $('Process Email').first().json.emailMeta || {};\n\n// ========================================\n// RFQ ID GENERATOR — Format: RFQ-YYYYMMDD-XXX\n// ========================================\n\nfunction generateRfqId() {\n  const now = new Date();\n  const datePart = now.toISOString().split('T')[0].replace(/-/g, '');\n  const seed = `${now.getTime()}-${emailMeta.threadId || ''}`;\n  let hash = 0;\n  for (let i = 0; i < seed.length; i++) {\n    const char = seed.charCodeAt(i);\n    hash = ((hash << 5) - hash) + char;\n    hash = hash & hash;\n  }\n  const chars = 'ABCDEFGHJKLMNPQRSTUVWXYZ23456789';\n  const absHash = Math.abs(hash);\n  const suffix = chars[absHash % 32] + chars[(absHash >> 5) % 32] + chars[(absHash >> 10) % 32];\n  return `RFQ-${datePart}-${suffix}`;\n}\n\n// ========================================\n// CONSTANTS\n// ========================================\n\nconst VALID_TYPES = ['20FT', '40FT', '40HC', '40HQ', '45FT', '20OT', '40OT'];\nconst VALID_SERVICE_TYPES = ['port-to-port', 'door-to-port', 'port-to-door', 'door-to-door'];\n\nconst PORT_FIELD_INFO = {\n  pol:  { label: 'Port of Loading (Origin)',        example: 'SHENZHEN, SHANGHAI, NINGBO' },\n  pod:  { label: 'Port of Discharge (Destination)', example: 'JEBEL ALI, JEDDAH, DAMMAM, HAMAD PORT' },\n  qty:  { label: 'Number of Containers',            example: '2, 5, 10' },\n  type: { label: 'Container Type',                  example: '20FT, 40FT, 40HC, 20OT, 40OT' },\n  date: { label: 'Cargo Ready Date',                example: '2026-02-15, 20th February' }\n};\n\nconst DOOR_FIELD_INFO = {\n  pol:              { label: 'Port of Loading (Origin)',          example: 'SHENZHEN, SHANGHAI, NINGBO' },\n  pod:              { label: 'Port of Discharge (Destination)',   example: 'JEBEL ALI, JEDDAH, DAMMAM, HAMAD PORT' },\n  qty:              { label: 'Number of Containers',              example: '2, 5, 10' },\n  type:             { label: 'Container Type',                    example: '20FT, 40FT, 40HC, 20OT, 40OT' },\n  date:             { label: 'Cargo Ready Date',                  example: '2026-02-15, 20th February' },\n  pickup_address:   { label: 'Pickup Address (Origin)',           example: 'Factory name, street, city, country' },\n  delivery_address: { label: 'Delivery Address (Destination)',    example: 'Warehouse name, street, area, city' }\n};\n\n// ========================================\n// ROBUST JSON PARSER\n// ========================================\n\nfunction parseAIOutput(raw) {\n  if (!raw || typeof raw !== 'string') return null;\n  let str = raw.trim()\n    .replace(/```json\\s*/gi, '')\n    .replace(/```\\s*/gi, '');\n  for (const pattern of [/\\{[\\s\\S]*\\}/, /\\{.*\\\"shipments\\\".*\\}/s]) {\n    const match = str.match(pattern);\n    if (match) {\n      try {\n        const parsed = JSON.parse(match[0]);\n        if (parsed && typeof parsed === 'object') return parsed;\n      } catch (e) {\n        try {\n          const fixed = match[0]\n            .replace(/,\\s*}/g, '}')\n            .replace(/,\\s*]/g, ']')\n            .replace(/'/g, '\"')\n            .replace(/([{,]\\s*)(\\w+):/g, '$1\"$2\":');\n          const parsed = JSON.parse(fixed);\n          if (parsed && typeof parsed === 'object') return parsed;\n        } catch (e2) { continue; }\n      }\n    }\n  }\n  return null;\n}\n\n// ========================================\n// NORMALIZERS\n// ========================================\n\nfunction normalizePort(port) {\n  if (!port || typeof port !== 'string') return null;\n  const p = port.trim().toUpperCase();\n  return (p === '' || p === 'NULL' || p === 'N/A' || p === 'TBD') ? null : p;\n}\n\nfunction normalizeQty(qty) {\n  if (qty === null || qty === undefined) return null;\n  const n = parseInt(qty, 10);\n  return isNaN(n) || n <= 0 ? null : n;\n}\n\nfunction normalizeType(type) {\n  if (!type || typeof type !== 'string') return null;\n  let t = type.trim().toUpperCase().replace(/[^A-Z0-9]/g, '');\n  if (['40FTHC', '40HQ', '40FTHQ'].includes(t)) t = '40HC';\n  if (['20FTGP', '20GP'].includes(t)) t = '20FT';\n  if (['40FTGP', '40GP'].includes(t)) t = '40FT';\n  if (['40FTOP', '40OP', '40OPEN', '40OPENTOP'].includes(t)) t = '40OT';\n  if (['20FTOP', '20OP', '20OPEN', '20OPENTOP'].includes(t)) t = '20OT';\n  return VALID_TYPES.includes(t) ? t : null;\n}\n\nfunction normalizeDate(date) {\n  if (!date || typeof date !== 'string') return null;\n  const d = date.trim();\n  if (d === '' || d.toLowerCase() === 'null' || d === 'N/A' || d === 'TBD') return null;\n  if (/^\\d{4}-\\d{2}-\\d{2}$/.test(d)) {\n    return parseInt(d.substring(0, 4), 10) >= 2024 ? d : null;\n  }\n  const parsed = new Date(d);\n  return (!isNaN(parsed.getTime()) && parsed.getFullYear() >= 2024)\n    ? parsed.toISOString().split('T')[0] : null;\n}\n\nfunction normalizeServiceType(st) {\n  if (!st || typeof st !== 'string') return 'port-to-port';\n  const t = st.trim().toLowerCase();\n  return VALID_SERVICE_TYPES.includes(t) ? t : 'port-to-port';\n}\n\nfunction normalizeAddress(addr) {\n  if (!addr || typeof addr !== 'string') return null;\n  const a = addr.trim();\n  return (a === '' || a.toLowerCase() === 'null' || a === 'N/A' || a === 'TBD') ? null : a;\n}\n\nfunction normalizePodHint(hints) {\n  if (!Array.isArray(hints)) return [];\n  return hints\n    .map(h => typeof h === 'string' ? h.trim().toUpperCase() : null)\n    .filter(h => h && h !== 'NULL' && h !== 'N/A');\n}\n\nfunction validateShipment(s, index) {\n  return {\n    num: index + 1,\n    pol: normalizePort(s.pol),\n    pod: normalizePort(s.pod),\n    pod_hint: normalizePodHint(s.pod_hint),\n    qty: normalizeQty(s.qty),\n    type: normalizeType(s.type),\n    date: normalizeDate(s.date),\n    delivery_deadline: normalizeDate(s.delivery_deadline),\n    service_type: normalizeServiceType(s.service_type),\n    pickup_address: normalizeAddress(s.pickup_address),\n    delivery_address: normalizeAddress(s.delivery_address)\n  };\n}\n\n// ========================================\n// SHEETS CONCATENATION\n// ========================================\n\nfunction concatenateShipments(shipments) {\n  return {\n    pol:              shipments.map(s => s.pol || 'TBD').join('\\n'),\n    pod:              shipments.map(s => s.pod || (s.pod_hint.length ? s.pod_hint.join('/') : 'TBD')).join('\\n'),\n    container_type:   shipments.map(s => s.type || 'TBD').join('\\n'),\n    qty:              shipments.map(s => s.qty || 'TBD').join('\\n'),\n    ready_date:       shipments.map(s => s.date || 'TBD').join('\\n'),\n    delivery_deadline:shipments.map(s => s.delivery_deadline || '').filter(Boolean).join('\\n') || null,\n    service_type:     [...new Set(shipments.map(s => s.service_type))].join('\\n'),\n    pickup_address:   shipments.map(s => s.pickup_address || '').filter(Boolean).join('\\n') || null,\n    delivery_address: shipments.map(s => s.delivery_address || '').filter(Boolean).join('\\n') || null\n  };\n}\n\n// ========================================\n// ROUTING LOGIC\n// ========================================\n\nfunction getMissingPortFields(shipment) {\n  const missing = [];\n  if (!shipment.pol)  missing.push('pol');\n  // pod missing is OK if pod_hint has options — handled separately\n  if (!shipment.pod && shipment.pod_hint.length === 0) missing.push('pod');\n  if (!shipment.qty)  missing.push('qty');\n  if (!shipment.type) missing.push('type');\n  if (!shipment.date) missing.push('date');\n  return missing;\n}\n\nfunction getMissingDoorFields(shipment) {\n  const missing = getMissingPortFields(shipment);\n  const st = shipment.service_type;\n  if ((st === 'door-to-port' || st === 'door-to-door') && !shipment.pickup_address) {\n    missing.push('pickup_address');\n  }\n  if ((st === 'port-to-door' || st === 'door-to-door') && !shipment.delivery_address) {\n    missing.push('delivery_address');\n  }\n  return missing;\n}\n\nfunction hasPodHintOnly(shipments) {\n  // True if any shipment has pod_hint but no confirmed pod — needs human confirmation\n  return shipments.some(s => !s.pod && s.pod_hint.length > 0);\n}\n\nfunction determineAction(shipments) {\n  const hasDoor = shipments.some(s => s.service_type !== 'port-to-port');\n\n  if (hasDoor) {\n    const addressesMissing = shipments.some(s => {\n      const st = s.service_type;\n      if ((st === 'door-to-port' || st === 'door-to-door') && !s.pickup_address) return true;\n      if ((st === 'port-to-door' || st === 'door-to-door') && !s.delivery_address) return true;\n      return false;\n    });\n    if (addressesMissing) {\n      const allMissing = shipments.map(s => getMissingDoorFields(s));\n      return allMissing.every(m => m.length === 0) ? 'complete' : 'need_door_data';\n    }\n  }\n\n  const allMissing = shipments.map(s => getMissingPortFields(s));\n  if (allMissing.every(m => m.length === 0) && !hasPodHintOnly(shipments)) return 'complete';\n  return 'need_port_data';\n}\n\n// ========================================\n// EMAIL CONTENT FORMATTERS\n// ========================================\n\nfunction formatShipmentForPricing(s, isMulti, total) {\n  const header = isMulti ? `Shipment ${s.num} of ${total}\\n` : '';\n  const podDisplay = s.pod || (s.pod_hint.length ? `TBD (options: ${s.pod_hint.join(' / ')})` : '???');\n  const route = `${s.pol || '???'} > ${podDisplay}`;\n  const containers = s.qty && s.type\n    ? `${s.qty} x ${s.type}`\n    : (s.qty ? `${s.qty} containers (type TBD)` : 'TBD');\n  const ready = s.date || 'TBD';\n  const deadline = s.delivery_deadline ? `Delivery Deadline: ${s.delivery_deadline}` : '';\n  const serviceLabel = s.service_type !== 'port-to-port' ? `Service: ${s.service_type.toUpperCase()}` : '';\n  const pickup   = s.pickup_address   ? `Pickup: ${s.pickup_address}`   : '';\n  const delivery = s.delivery_address ? `Delivery: ${s.delivery_address}` : '';\n  const doorInfo = [serviceLabel, pickup, delivery, deadline].filter(Boolean).join('\\n');\n  return `${header}Route: ${route}\\nContainers: ${containers}\\nReady Date: ${ready}${doorInfo ? '\\n' + doorInfo : ''}`;\n}\n\nfunction formatCurrentDetails(shipments, isMulti) {\n  const lines = [];\n  shipments.forEach((s, i) => {\n    const prefix = isMulti ? `[Shipment ${i + 1}]\\n` : '';\n    const clean = (str) => str ? str.replace(/\\n+/g, ', ').replace(/,\\s*,/g, ',').replace(/\\s+/g, ' ').trim() : null;\n\n    const parts = [];\n    if (s.pol)  parts.push(`Origin Port: ${s.pol}`);\n    if (s.pod)  parts.push(`Destination Port: ${s.pod}`);\n    if (!s.pod && s.pod_hint.length > 0) parts.push(`POD Options: ${s.pod_hint.join(' or ')} (pending confirmation)`);\n    if (s.qty && s.type) parts.push(`Containers: ${s.qty} x ${s.type}`);\n    else if (s.qty) parts.push(`Quantity: ${s.qty} containers`);\n    if (s.date) parts.push(`Cargo Ready: ${s.date}`);\n    if (s.delivery_deadline) parts.push(`Delivery Deadline: ${s.delivery_deadline}`);\n    if (s.service_type !== 'port-to-port') parts.push(`Service: ${s.service_type}`);\n\n    const summary = prefix + parts.join(' | ');\n    const pickup   = s.pickup_address   ? `Pickup:   ${clean(s.pickup_address)}`   : null;\n    const delivery = s.delivery_address ? `Delivery: ${clean(s.delivery_address)}` : null;\n\n    const block = [summary, pickup, delivery].filter(Boolean).join('\\n');\n    if (block) lines.push(block);\n  });\n  return lines.length > 0 ? lines.join('\\n\\n') : 'No shipment details could be extracted';\n}\n\nfunction formatMissingFields(shipments, hasDoor) {\n  const allMissing = new Set();\n  shipments.forEach(s => {\n    const missing = hasDoor ? getMissingDoorFields(s) : getMissingPortFields(s);\n    missing.forEach(f => allMissing.add(f));\n    // If pod_hint exists but no pod confirmed, add pod as missing\n    if (!s.pod && s.pod_hint.length > 0) allMissing.add('pod');\n  });\n  const fieldInfo = hasDoor ? DOOR_FIELD_INFO : PORT_FIELD_INFO;\n  return Array.from(allMissing).map(f => {\n    const info = fieldInfo[f];\n    if (!info) return null;\n    // If pod has hints, give a more helpful prompt\n    const podHints = shipments.flatMap(s => s.pod_hint);\n    if (f === 'pod' && podHints.length > 0) {\n      return `- ${info.label} (Please confirm: ${podHints.join(' or ')}?)`;\n    }\n    return `- ${info.label} (Example: ${info.example})`;\n  }).filter(Boolean).join('\\n');\n}\n\nfunction buildSubjectLine(shipments, isMulti, count, action) {\n  const s = shipments[0];\n  const podDisplay = s.pod || (s.pod_hint.length ? s.pod_hint[0] + '?' : 'TBD');\n  const route = `${s.pol || 'TBD'} > ${podDisplay}`;\n  const containers = s.qty && s.type ? `${s.qty}x${s.type}` : 'TBD';\n  const multiSuffix = isMulti ? ` +${count - 1} more` : '';\n  const doorSuffix = s.service_type !== 'port-to-port' ? ` [${s.service_type.toUpperCase()}]` : '';\n  let prefix = 'Quote Request';\n  if (action === 'need_port_data') prefix = 'Quote (Info Required)';\n  if (action === 'need_door_data') prefix = 'Quote (Door - Info Required)';\n  return `${prefix}: ${route} [${containers}]${multiSuffix}${doorSuffix}`;\n}\n\n// ========================================\n// MAIN\n// ========================================\n\nconst rfqId = generateRfqId();\n\ntry {\n  const parsed = parseAIOutput(aiRaw);\n  if (!parsed || !Array.isArray(parsed.shipments) || parsed.shipments.length === 0) {\n    throw new Error('Invalid AI response structure');\n  }\n\n  const shipments = parsed.shipments.map((s, i) => validateShipment(s, i));\n  const isMulti = parsed.multi === true || shipments.length > 1;\n  const count = shipments.length;\n  const action = determineAction(shipments);\n  const hasDoor = shipments.some(s => s.service_type !== 'port-to-port');\n  const sheetsData = concatenateShipments(shipments);\n\n  return [{ json: {\n    action,\n    rfqId,\n    shipments,\n    hasDoorService: hasDoor,\n    subjectLine: buildSubjectLine(shipments, isMulti, count, action),\n    pricingContent: shipments.map(s => formatShipmentForPricing(s, isMulti, count)).join('\\n\\n'),\n    currentDetails: formatCurrentDetails(shipments, isMulti),\n    missingFormatted: formatMissingFields(shipments, hasDoor),\n    sheetsPol:              sheetsData.pol,\n    sheetsPod:              sheetsData.pod,\n    sheetsContainerType:    sheetsData.container_type,\n    sheetsQty:              sheetsData.qty,\n    sheetsReadyDate:        sheetsData.ready_date,\n    sheetsDeliveryDeadline: sheetsData.delivery_deadline,\n    sheetsServiceType:      sheetsData.service_type,\n    sheetsPickupAddress:    sheetsData.pickup_address,\n    sheetsDeliveryAddress:  sheetsData.delivery_address\n  }}];\n\n} catch (err) {\n  return [{ json: {\n    action: 'fallback',\n    rfqId,\n    shipments: [],\n    hasDoorService: false,\n    subjectLine: `Quote Request: ${emailMeta.subject || 'New Inquiry'}`,\n    pricingContent: 'Unable to parse shipment details from email.',\n    currentDetails: 'We could not extract shipment details from your email.',\n    missingFormatted: Object.entries(PORT_FIELD_INFO).map(([k, v]) => `- ${v.label} (Example: ${v.example})`).join('\\n'),\n    sheetsPol: 'TBD',\n    sheetsPod: 'TBD',\n    sheetsContainerType: 'TBD',\n    sheetsQty: 'TBD',\n    sheetsReadyDate: 'TBD',\n    sheetsDeliveryDeadline: null,\n    sheetsServiceType: 'port-to-port',\n    sheetsPickupAddress: null,\n    sheetsDeliveryAddress: null\n  }}];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -672,
        384
      ],
      "id": "f5c34e07-a023-4c2b-b899-e5db9a824b99",
      "name": "Parse & Route"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=EXTRACT SHIPMENT DATA FROM THIS EMAIL:\n\nSubject: {{ $json.emailMeta.subject }}\nFrom: {{ $json.emailMeta.from }}\nDate: {{ $json.emailMeta.date }}\n\n--- EMAIL BODY ---\n{{ $json.emailBody }}\n{{ $json.attachmentText ? '\\n--- ATTACHMENTS ---\\n' + $json.attachmentText : '' }}\n--- END ---",
        "messages": {
          "messageValues": [
            {
              "message": "=You are an expert logistics data extractor specializing in container shipping. Extract shipment details from emails and return ONLY a valid JSON object.\n\n**OUTPUT FORMAT** (return exactly this structure):\n\n{\"multi\":false,\"count\":1,\"shipments\":[{\"pol\":null,\"pod\":null,\"pod_hint\":[],\"qty\":null,\"type\":null,\"date\":null,\"delivery_deadline\":null,\"service_type\":\"port-to-port\",\"pickup_address\":null,\"delivery_address\":null}]}\n\n---\n\n## FIELD RULES\n\n### pol — Port of Loading\n- Always UPPERCASE port or city name\n- Only extract if a port is **explicitly stated** in the email (e.g. \"FOB Yantian\", \"loading from Shanghai port\")\n- If the email only provides a **pickup address or city name** (e.g. \"Dongguan, China\"), set `pol` to `null` — the pickup address already captures the origin. Do NOT infer or guess the nearest port.\n- Exception: if a well-known FOB term is used (e.g. \"FOB Shenzhen\"), use that port directly\n\n---\n\n### pod — Port of Discharge\n- Always UPPERCASE port or city name\n- Only set if the customer **explicitly confirms** a single port destination\n- If the customer mentions destination ports as **options or suggestions** (e.g. \"work with Jeddah or Dammam\", \"either Jeddah or Dammam\"), set `pod` to `null` and capture the options in `pod_hint` instead\n- Apply port conversions (see PORT CONVERSIONS section below)\n- Use port name, not neighborhood or physical address\n- Dubai means JEBEL ALI\n\n---\n\n### pod_hint — Port of Discharge Options\n- Array of UPPERCASE port name strings\n- Populate when the customer mentions multiple possible destination ports but has NOT confirmed one\n- Examples:\n  - \"work with Jeddah or Dammam\" → `[\"JEDDAH\", \"DAMMAM\"]`\n  - \"either Hamad or Jebel Ali\" → `[\"HAMAD PORT\", \"JEBEL ALI\"]`\n- Apply same port conversions as `pod`\n- Set to `[]` if no port options are mentioned and pod is already confirmed\n\n---\n\n### qty — Container Quantity\n- Container count as **INTEGER**\n- Parse all common formats:\n  - `3X40FT` → `3`\n  - `3x40` → `3`\n  - `3 units` → `3`\n  - `three containers` → `3`\n- `null` only if no quantity is mentioned at all\n\n---\n\n### type — Container Type\nMust be one of these values only: `20FT`, `40FT`, `40HC`, `40HQ`, `45FT`, `20OT`, `40OT`\n\n- 40HC = 40HQ = 40 High Cube\n- OT = Open Top\n- Default standard containers to `20FT` or `40FT`\n- `null` if not mentioned\n\n---\n\n### date — Cargo Ready Date\n- Format: `YYYY-MM-DD`\n- Must be year 2024 or later\n- Parse natural language using the email's own date as reference:\n  - \"16th departure\" → infer the 16th of the current or next month\n  - \"ready end of month\" → last day of current month\n  - \"26th August\" → `YYYY-08-26` using the year from email context\n- `null` if genuinely unknown\n\n---\n\n### delivery_deadline — Required Delivery Date\n- Format: `YYYY-MM-DD`\n- Capture when the customer states a date by which cargo **must arrive or be delivered** at the destination\n- Trigger phrases: \"delivered before\", \"must arrive by\", \"need it by\", \"deadline\", \"no later than\", \"deliver before\"\n- This is different from `date` (cargo ready) — `date` is when cargo leaves the factory, `delivery_deadline` is when it must reach the customer\n- `null` if not mentioned\n\n---\n\n### service_type — Service Level\nExactly one of four values:\n\n| Value | Meaning |\n|---|---|\n| `port-to-port` | Default — no door service |\n| `door-to-port` | Origin pickup from a physical address |\n| `port-to-door` | Destination delivery to a physical address |\n| `door-to-door` | Both origin pickup AND destination delivery |\n\n**Triggers for `door-to-port`:**\nLOADING POINT section with address, factory/warehouse at origin, terms like: `EXW`, `ex-works`, `collect from`, `pick up from`, `door pickup`\n\n**Triggers for `port-to-door`:**\nDELIVERY POINT section with address, terms like: `deliver to`, `door delivery`, `final delivery`, `inland delivery`, `trucking to`, `to our warehouse`, `to our facility`, `truck to [city]`\n\n**Triggers for `door-to-door`:**\nBoth of the above are present in the same email.\n\n---\n\n### pickup_address — Origin Collection Address\n- Full address exactly as written in the email\n- Include: company name, street, city, country\n- **Do NOT convert to a port name**\n- `null` if no physical pickup address exists\n\n---\n\n### delivery_address — Destination Delivery Address\n- Full address exactly as written in the email\n- Include: company name, street, area, city, country\n- **Do NOT convert to a port name**\n- `null` if no physical delivery address exists\n\n---\n\n## PORT CONVERSIONS\n> Applies to `pod` and `pod_hint` only. Never apply to `delivery_address` or `pickup_address`.\n\n| Mentioned In Email | Resolves To |\n|---|---|\n| Dubai / Al Quoz / Al Quoz Industrial / Bawadi / Jebel Ali | `JEBEL ALI` |\n| Qatar / Doha | `HAMAD PORT` |\n| UAQ / Umm Al Quwain | `UMM AL QUWAIN` |\n| Abu Dhabi / Al Ain / Musaffah | `KHALIFA PORT` |\n| Oman / Muscat / Sohar | `SOHAR` |\n| Baghdad / Iraq / Basra | `UMM QASR` |\n| Sharjah | `SHARJAH` |\n| Ras Al Khaimah / RAK | `RAS AL KHAIMAH` |\n| Fujairah | `FUJAIRAH` |\n| Ajman | `AJMAN` |\n| Jeddah / Saudi Arabia west coast | `JEDDAH` |\n| Dammam / Saudi Arabia east coast | `DAMMAM` |\n| Riyadh (no port specified) | `null` — set pod_hint: [\"JEDDAH\", \"DAMMAM\"] |\n| Riyadh with explicit port mentioned | use that port in `pod` |\n\n---\n\n## MULTI-SHIPMENT RULES\n\n- Set `multi: true` and update `count` accordingly if the email contains multiple separate shipments (different routes, different POs, or different cargo ready dates)\n- **Mixed container types** on the same shipment (e.g. `9x40HQ + 1x20GP`) → create **separate shipment objects** each with their own `qty` and `type`, sharing the same `pol`, `pod`, `date`, `service_type`, `pickup_address`, `delivery_address`\n- **Multiple containers of the same type** on one shipment → single object with that `qty`\n\n---\n\n## RATE INQUIRIES\n\nIf the email asks for general rates without a specific container quantity, set `qty` to `null`.\n\n---\n\n## WORKED EXAMPLES\n\n**Example 1 — Door-to-door, loading point in Dongguan, confirmed POD**\n\n> Email: LOADING POINT at Houjie Town, Dongguan, GD, China. DELIVERY POINT at Al Quoz Industrial, Dubai. 3x40FT. 16th departure.\n```json{\n\"multi\": false,\n\"count\": 1,\n\"shipments\": [{\n\"pol\": null,\n\"pod\": \"JEBEL ALI\",\n\"pod_hint\": [],\n\"qty\": 3,\n\"type\": \"40FT\",\n\"date\": null,\n\"delivery_deadline\": null,\n\"service_type\": \"door-to-door\",\n\"pickup_address\": \"Houjie Town, Dongguan, GD, China\",\n\"delivery_address\": \"Al Quoz Industrial, Dubai\"\n}]\n}\n\n---\n\n**Example 2 — FOB overrides shipper address**\n\n> Email: Shipper in Guangzhou, FOB Shenzhen, deliver to Jebel Ali. 2x40HC.\n```json{\n\"multi\": false,\n\"count\": 1,\n\"shipments\": [{\n\"pol\": \"YANTIAN\",\n\"pod\": \"JEBEL ALI\",\n\"pod_hint\": [],\n\"qty\": 2,\n\"type\": \"40HC\",\n\"date\": null,\n\"delivery_deadline\": null,\n\"service_type\": \"door-to-port\",\n\"pickup_address\": \"Guangzhou, China\",\n\"delivery_address\": null\n}]\n}\n\n---\n\n**Example 3 — Mixed containers, same route**\n\n> Email: 9x40HQ + 1x20GP, Shanghai to Hamad Port.\n```json{\n\"multi\": true,\n\"count\": 2,\n\"shipments\": [\n{\n\"pol\": \"SHANGHAI\",\n\"pod\": \"HAMAD PORT\",\n\"pod_hint\": [],\n\"qty\": 9,\n\"type\": \"40HC\",\n\"date\": null,\n\"delivery_deadline\": null,\n\"service_type\": \"port-to-port\",\n\"pickup_address\": null,\n\"delivery_address\": null\n},\n{\n\"pol\": \"SHANGHAI\",\n\"pod\": \"HAMAD PORT\",\n\"pod_hint\": [],\n\"qty\": 1,\n\"type\": \"20FT\",\n\"date\": null,\n\"delivery_deadline\": null,\n\"service_type\": \"port-to-port\",\n\"pickup_address\": null,\n\"delivery_address\": null\n}\n]\n}\n\n---\n\n**Example 4 — Riyadh destination, port not confirmed, delivery deadline given**\n\n> Email: Pickup from Dongguan factory. Delivery to Riyadh client site, work with Jeddah or Dammam and truck to Riyadh. Need delivered before 13th August. Cargo ready 26th August.\n```json{\n\"multi\": false,\n\"count\": 1,\n\"shipments\": [{\n\"pol\": null,\n\"pod\": null,\n\"pod_hint\": [\"JEDDAH\", \"DAMMAM\"],\n\"qty\": null,\n\"type\": null,\n\"date\": \"2026-08-26\",\n\"delivery_deadline\": \"2026-08-13\",\n\"service_type\": \"door-to-door\",\n\"pickup_address\": \"Dongguan factory, China\",\n\"delivery_address\": \"Riyadh, Saudi Arabia\"\n}]\n}\n\n---\n\n**Example 5 — Port-to-door only**\n\n> Email: FCL from Ningbo to our warehouse at Industrial Area 3, Sharjah. 1x20FT.\n```json{\n\"multi\": false,\n\"count\": 1,\n\"shipments\": [{\n\"pol\": \"NINGBO\",\n\"pod\": \"SHARJAH\",\n\"pod_hint\": [],\n\"qty\": 1,\n\"type\": \"20FT\",\n\"date\": null,\n\"delivery_deadline\": null,\n\"service_type\": \"port-to-door\",\n\"pickup_address\": null,\n\"delivery_address\": \"Industrial Area 3, Sharjah\"\n}]\n}\n\n---\n\n## OUTPUT RULES\n\n- Return **ONLY** the raw JSON object — no markdown, no backticks, no explanation, no preamble\n- Use `null` for genuinely unknown values — never `\"TBD\"`, `\"N/A\"`, or empty string `\"\"`\n- `qty` must be an **integer** or `null` — never a string\n- `pod_hint` must always be an **array** — `[]` when empty, never `null`\n- `shipments` array must always contain at least one object\n- `delivery_address` and `pickup_address` preserve original text — **never apply port conversions to these fields**"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -1024,
        384
      ],
      "id": "3f6888bc-6daf-49c7-89df-69352b0133a0",
      "name": "AI Extractor"
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// EMAIL & ATTACHMENT PROCESSOR\n// Extracts email content and attachment text\n// Passes through all email metadata for threading\n// Note: require('xlsx') and require('mammoth') may not be\n// available in all n8n environments. They are wrapped in\n// try-catch so missing modules are handled gracefully.\n// ========================================\n\nconst item = $input.first();\nconst email = item.json;\nconst binary = item.binary || {};\nconst keys = Object.keys(binary);\n\n// Core email metadata - passed through entire workflow\nconst emailMeta = {\n  id: email.id || '',\n  threadId: email.threadId || '',\n  messageId: email.messageId || '',\n  subject: email.subject || '',\n  from: email.from?.text || email.from || '',\n  to: email.to?.text || email.to || '',\n  date: email.date || new Date().toISOString(),\n  inReplyTo: email.inReplyTo || ''\n};\n\nconst emailBody = email.text || email.textPlain || email.snippet || '';\n\n// Quick exit if no attachments\nif (!keys.length) {\n  return [{\n    json: {\n      emailMeta,\n      emailBody,\n      attachmentText: '',\n      hasAttachments: false,\n      attachmentCount: 0\n    }\n  }];\n}\n\nconst getExt = (name) => {\n  if (!name) return '';\n  const i = name.lastIndexOf('.');\n  return i > 0 ? name.slice(i).toLowerCase() : '';\n};\n\nconst processAttachment = async (key) => {\n  const att = binary[key];\n  const name = att.fileName || key;\n  const mime = att.mimeType || '';\n  const ext = getExt(name);\n  \n  if (att.data === 'filesystem-v2' || mime.includes('image')) return '';\n  \n  let buffer;\n  try { buffer = Buffer.from(att.data, 'base64'); } catch { return ''; }\n  \n  // PDF\n  if (ext === '.pdf' || mime.includes('pdf')) {\n    try {\n      const pdf = require('pdf-parse');\n      const data = await pdf(buffer);\n      return `[${name}]\\n${data.text}`;\n    } catch { return ''; }\n  }\n  \n  // Excel\n  if (['.xlsx', '.xls', '.xlsm'].includes(ext) || mime.includes('spreadsheet') || mime.includes('excel')) {\n    try {\n      const XLSX = require('xlsx');\n      const wb = XLSX.read(buffer, { type: 'buffer' });\n      let text = `[${name}]\\n`;\n      wb.SheetNames.forEach(sheet => {\n        const rows = XLSX.utils.sheet_to_json(wb.Sheets[sheet], { header: 1, defval: '' });\n        text += rows.map(r => r.join(' | ')).join('\\n') + '\\n';\n      });\n      return text.trim();\n    } catch { return ''; }\n  }\n  \n  // Word\n  if (['.docx', '.doc'].includes(ext) || mime.includes('word')) {\n    try {\n      const mammoth = require('mammoth');\n      const result = await mammoth.extractRawText({ buffer });\n      return `[${name}]\\n${result.value}`;\n    } catch { return ''; }\n  }\n  \n  // CSV/Text\n  if (['.csv', '.txt', '.tsv'].includes(ext) || mime.includes('text/plain') || mime.includes('csv')) {\n    try { return `[${name}]\\n${buffer.toString('utf8')}`; } catch { return ''; }\n  }\n  \n  return '';\n};\n\nconst results = await Promise.all(keys.map(processAttachment));\nconst rawAttachmentText = results.filter(Boolean).join('\\n\\n');\n\n// Cap attachment text at 12,000 characters to prevent Gemini token overflow\nconst attachmentText = rawAttachmentText.substring(0, 12000);\n\nreturn [{\n  json: {\n    emailMeta,\n    emailBody,\n    attachmentText,\n    hasAttachments: true,\n    attachmentCount: keys.length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1248,
        384
      ],
      "id": "bf47c614-5fa2-4f14-8f13-3740c5982d40",
      "name": "Process Email"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1c-O7SCygVbl-x4v_E_IYih4OXBNqtJURD3P66r6zC90",
          "mode": "list",
          "cachedResultName": "Pricing Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1c-O7SCygVbl-x4v_E_IYih4OXBNqtJURD3P66r6zC90/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 490285936,
          "mode": "list",
          "cachedResultName": "Agents",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1c-O7SCygVbl-x4v_E_IYih4OXBNqtJURD3P66r6zC90/edit#gid=490285936"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status",
              "lookupValue": "active"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        896,
        320
      ],
      "id": "7b18c7cb-292f-49c9-be42-e4e0d4c933e9",
      "name": "Active Agents",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "JHr0YGDRPjWHDYAj",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1c-O7SCygVbl-x4v_E_IYih4OXBNqtJURD3P66r6zC90",
          "mode": "list",
          "cachedResultName": "Pricing Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1c-O7SCygVbl-x4v_E_IYih4OXBNqtJURD3P66r6zC90/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 694174897,
          "mode": "list",
          "cachedResultName": "Agent_Outbound_Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1c-O7SCygVbl-x4v_E_IYih4OXBNqtJURD3P66r6zC90/edit#gid=694174897"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "sent_at": "={{ $now.format('yyyy-MM-dd hh:mm a') }}",
            "rfq_id": "={{ $('Parse & Route').item.json.rfqId }}",
            "agent_name": "={{ $('Active Agents').item.json.agent_name }}",
            "agent_email": "={{ $('Active Agents').item.json.email }}",
            "status": "Requested",
            "match": "={{ $('Parse & Route').item.json.rfqId }}_{{ $('Active Agents').item.json.email }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "rfq_id",
              "displayName": "rfq_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "match",
              "displayName": "match",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "agent_email",
              "displayName": "agent_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "agent_name",
              "displayName": "agent_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sent_at",
              "displayName": "sent_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "shipment_number",
              "displayName": "shipment_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "carrier",
              "displayName": "carrier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "price",
              "displayName": "price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "currency",
              "displayName": "currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "etd",
              "displayName": "etd",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "transit_time",
              "displayName": "transit_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "free_time",
              "displayName": "free_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "validity",
              "displayName": "validity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "received_at",
              "displayName": "received_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1792,
        320
      ],
      "id": "041f6442-d423-4c15-8c83-274d88fa12f5",
      "name": "Update Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "JHr0YGDRPjWHDYAj",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1120,
        320
      ],
      "id": "a415a601-1627-49c8-9920-abd865df135e",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "// CHINA BUSINESS HOURS CHECK - Battle-Tested\n// Added: try-catch, array return format\n\ntry {\n  const china = DateTime.now().setZone('Asia/Shanghai');\n  const hour = china.hour;\n  const weekday = china.weekday; // 1=Mon...7=Sun\n\n  // Business hours: Mon-Fri, 9:00 AM - 5:00 PM CST\n  const isOpen = weekday <= 5 && hour >= 9 && hour < 17;\n\n  // Calculate next 9:00 AM China time for Wait node\n  let resumeDate = china.set({ hour: 9, minute: 0, second: 0, millisecond: 0 });\n\n  if (hour >= 17) {\n    resumeDate = resumeDate.plus({ days: 1 });\n  } else if (hour >= 9) {\n    resumeDate = resumeDate.plus({ days: 1 });\n  }\n\n  // Skip weekends\n  while (resumeDate.weekday > 5) {\n    resumeDate = resumeDate.plus({ days: 1 });\n  }\n\n  return [{\n    json: {\n      isOpen,\n      resumeTime: resumeDate.toISO(),\n      currentChinaTime: china.toFormat('yyyy-MM-dd HH:mm:ss'),\n      reason: isOpen ? 'Business Hours (CST)' : 'Outside Business Hours (CST)'\n    }\n  }];\n} catch (e) {\n  return [{\n    json: {\n      isOpen: true,  // Default to open on error\n      resumeTime: new Date().toISOString(),\n      currentChinaTime: 'Error',\n      reason: 'Error checking time: ' + e.message\n    }\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ],
      "id": "cff85068-4945-4660-bfe5-25618a27d177",
      "name": "Time Check"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "4b2b4be1-7ab4-4536-894c-49ae1fd189f8",
              "leftValue": "={{ $json.isOpen }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        672,
        0
      ],
      "id": "6fd95ccb-1446-46ff-8216-7a1bbac06bd6",
      "name": "If"
    },
    {
      "parameters": {
        "resume": "specificTime",
        "dateTime": "={{ $json.resumeTime }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        672,
        416
      ],
      "id": "244d628c-af2c-4d45-8a76-9a82bedae353",
      "name": "Wait",
      "webhookId": "5a8ded8f-6253-4621-91ac-733ecf6c6d76"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1c-O7SCygVbl-x4v_E_IYih4OXBNqtJURD3P66r6zC90",
          "mode": "list",
          "cachedResultName": "Pricing Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1c-O7SCygVbl-x4v_E_IYih4OXBNqtJURD3P66r6zC90/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 552411421,
          "mode": "list",
          "cachedResultName": "Master_RFQs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1c-O7SCygVbl-x4v_E_IYih4OXBNqtJURD3P66r6zC90/edit#gid=552411421"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "thread_id": "={{ $('Gmail Trigger').item.json.threadId }}",
            "customer_email": "={{ $('Gmail Trigger').item.json.from.value[0].address }}",
            "status": "Processing",
            "pol": "={{ $('Parse & Route').item.json.sheetsPol }}",
            "pod": "={{ $('Parse & Route').item.json.sheetsPod }}",
            "received_at": "={{ $now.format('yyyy-MM-dd hh:mm a') }}",
            "container_type": "={{ $('Parse & Route').item.json.sheetsContainerType }}",
            "qty": "={{ $('Parse & Route').item.json.sheetsQty }}",
            "rfq_id": "={{ $('Parse & Route').item.json.rfqId }}",
            "ready_date": "={{ $('Parse & Route').item.json.sheetsReadyDate }}",
            "service_type": "={{ $('Parse & Route').item.json.sheetsServiceType }}",
            "pickup_address": "={{ $('Parse & Route').item.json.sheetsPickupAddress }}",
            "delivery_address": "={{ $('Parse & Route').item.json.sheetsDeliveryAddress }}"
          },
          "matchingColumns": [
            "thread_id"
          ],
          "schema": [
            {
              "id": "thread_id",
              "displayName": "thread_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "rfq_id",
              "displayName": "rfq_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "customer_email",
              "displayName": "customer_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "received_at",
              "displayName": "received_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pol",
              "displayName": "pol",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pod",
              "displayName": "pod",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "container_type",
              "displayName": "container_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "qty",
              "displayName": "qty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ready_date",
              "displayName": "ready_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "service_type",
              "displayName": "service_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pickup_address",
              "displayName": "pickup_address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "delivery_address",
              "displayName": "delivery_address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "selected_agent",
              "displayName": "selected_agent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "final_price_usd",
              "displayName": "final_price_usd",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "final_price_aed",
              "displayName": "final_price_aed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "quoted_at",
              "displayName": "quoted_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        0,
        0
      ],
      "id": "62faba98-6566-4608-b756-7b9f90e8713e",
      "name": "Logger - Complete",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "JHr0YGDRPjWHDYAj",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1c-O7SCygVbl-x4v_E_IYih4OXBNqtJURD3P66r6zC90",
          "mode": "list",
          "cachedResultName": "Pricing Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1c-O7SCygVbl-x4v_E_IYih4OXBNqtJURD3P66r6zC90/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 552411421,
          "mode": "list",
          "cachedResultName": "Master_RFQs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1c-O7SCygVbl-x4v_E_IYih4OXBNqtJURD3P66r6zC90/edit#gid=552411421"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "thread_id": "={{ $('Gmail Trigger').item.json.threadId }}",
            "customer_email": "={{ $('Gmail Trigger').item.json.from.value[0].address }}",
            "status": "Parse_Error",
            "received_at": "={{ $now.format('yyyy-MM-dd hh:mm a') }}"
          },
          "matchingColumns": [
            "thread_id"
          ],
          "schema": [
            {
              "id": "thread_id",
              "displayName": "thread_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "rfq_id",
              "displayName": "rfq_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "customer_email",
              "displayName": "customer_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "received_at",
              "displayName": "received_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pol",
              "displayName": "pol",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "pod",
              "displayName": "pod",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "container_type",
              "displayName": "container_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "qty",
              "displayName": "qty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ready_date",
              "displayName": "ready_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "service_type",
              "displayName": "service_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "pickup_address",
              "displayName": "pickup_address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "delivery_address",
              "displayName": "delivery_address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "selected_agent",
              "displayName": "selected_agent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "final_price_usd",
              "displayName": "final_price_usd",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "final_price_aed",
              "displayName": "final_price_aed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "quoted_at",
              "displayName": "quoted_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "88b65e87-09dc-4648-99c6-c86fd2a560d3",
      "name": "Logger - Fallback",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        0,
        576
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "JHr0YGDRPjWHDYAj",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "reply",
        "threadId": "={{ $('Process Email').first().json.emailMeta.threadId }}",
        "messageId": "={{ $('Process Email').first().json.emailMeta.id }}",
        "message": "=Dear Customer,\n\nThank you for your inquiry.\n\nWe were unable to process your request automatically. To help us provide an accurate quotation, please reply with your request in this format:\n\n\"Please quote: [ORIGIN PORT] to [DESTINATION PORT], [NUMBER]x[CONTAINER TYPE], ready [DATE]\"\n\nExample: \"Please quote: SHENZHEN to JEBEL ALI, 3x40HC, ready 15th February 2026\"\n\nBest regards,\nPricing Team",
        "options": {}
      },
      "id": "82a6bd81-8ff1-40b0-b62e-dd5a8bf99e30",
      "name": "Reply: Fallback",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        224,
        576
      ],
      "webhookId": "312f2b29-e7bb-4a59-a3d4-b0448a984aeb",
      "credentials": {
        "gmailOAuth2": {
          "id": "1ewuYqHBFtobt1D6",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "addLabels",
        "threadId": "={{ $('Process Email').first().json.emailMeta.threadId }}",
        "labelIds": [
          "Label_5384126907227730677"
        ]
      },
      "id": "5f676555-4ec6-4b03-9c78-d24cbafb9668",
      "name": "Label - Fallback",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        448,
        576
      ],
      "webhookId": "84aa6698-933f-4631-8121-d29f4e18f46d",
      "credentials": {
        "gmailOAuth2": {
          "id": "1ewuYqHBFtobt1D6",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "removeLabels",
        "threadId": "={{ $('Process Email').first().json.emailMeta.threadId }}",
        "labelIds": [
          "Label_5384126907227730677",
          "Label_4541647552047391561"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        224,
        0
      ],
      "id": "0810b2ec-d617-41ab-a0f9-51336a72d91b",
      "name": "Remove Label",
      "webhookId": "40a4a44f-50be-4897-ae42-2e432f7d2a4f",
      "credentials": {
        "gmailOAuth2": {
          "id": "1ewuYqHBFtobt1D6",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "addLabels",
        "threadId": "={{ $json.threadId }}",
        "labelIds": [
          "Label_2451245255668409057"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1568,
        320
      ],
      "id": "69f230f1-b2f4-4a65-a43e-784e66d74106",
      "name": "Label - Requested",
      "webhookId": "64bf26b4-ca69-4ac6-859f-9a14d693b8df",
      "credentials": {
        "gmailOAuth2": {
          "id": "1ewuYqHBFtobt1D6",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "=RFQ: {{ $('Parse & Route').first().json.subjectLine }} [Ref:{{ $('Parse & Route').first().json.rfqId }}]",
        "emailType": "text",
        "message": "=Dear {{ $json.agent_name }},\n\nPlease provide your best Ocean Freight rates for ALL shipments listed below:\n\n{{ $('Parse & Route').first().json.pricingContent }}\n\nPlease reply with the following for EACH shipment:\n\n1. Carrier Name\n2. Price (USD)\n3. ETD\n4. Transit Time (days)\n5. Free Time at Destination (days)\n6. Rate Validity Date\n\nRegards,\nPricing Team",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1344,
        320
      ],
      "id": "93253c7a-5c13-44f2-95e6-6e27d22c4358",
      "name": "Agent Mail",
      "webhookId": "7372c407-a821-40e6-bb15-5d40078b08c5",
      "retryOnFail": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "1ewuYqHBFtobt1D6",
          "name": "Gmail account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "addLabels",
        "threadId": "={{ $('Process Email').first().json.emailMeta.threadId }}",
        "labelIds": [
          "Label_4106174991258335344"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1344,
        128
      ],
      "id": "98800eb7-0595-4446-a5b2-2d425612e43a",
      "name": "Label - Processing",
      "webhookId": "732d8d4a-2624-46b4-b6d3-2fc9eedde248",
      "credentials": {
        "gmailOAuth2": {
          "id": "1ewuYqHBFtobt1D6",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1c-O7SCygVbl-x4v_E_IYih4OXBNqtJURD3P66r6zC90",
          "mode": "list",
          "cachedResultName": "Pricing Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1c-O7SCygVbl-x4v_E_IYih4OXBNqtJURD3P66r6zC90/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 552411421,
          "mode": "list",
          "cachedResultName": "Master_RFQs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1c-O7SCygVbl-x4v_E_IYih4OXBNqtJURD3P66r6zC90/edit#gid=552411421"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "thread_id": "={{ $('Gmail Trigger').item.json.threadId }}",
            "customer_email": "={{ $('Gmail Trigger').item.json.from.value[0].address }}",
            "status": "Missing_Door_Data",
            "pol": "={{ $('Parse & Route').item.json.sheetsPol }}",
            "pod": "={{ $('Parse & Route').item.json.sheetsPod }}",
            "received_at": "={{ $now.format('yyyy-MM-dd hh:mm a') }}",
            "container_type": "={{ $('Parse & Route').item.json.sheetsContainerType }}",
            "qty": "={{ $('Parse & Route').item.json.sheetsQty }}",
            "ready_date": "={{ $('Parse & Route').item.json.sheetsReadyDate }}",
            "service_type": "={{ $('Parse & Route').item.json.sheetsServiceType }}",
            "pickup_address": "={{ $('Parse & Route').item.json.sheetsPickupAddress }}",
            "delivery_address": "={{ $('Parse & Route').item.json.sheetsDeliveryAddress }}",
            "rfq_id": "={{ $('Parse & Route').item.json.rfqId }}"
          },
          "matchingColumns": [
            "thread_id"
          ],
          "schema": [
            {
              "id": "thread_id",
              "displayName": "thread_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "rfq_id",
              "displayName": "rfq_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "customer_email",
              "displayName": "customer_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "received_at",
              "displayName": "received_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pol",
              "displayName": "pol",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pod",
              "displayName": "pod",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "container_type",
              "displayName": "container_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "qty",
              "displayName": "qty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ready_date",
              "displayName": "ready_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "service_type",
              "displayName": "service_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pickup_address",
              "displayName": "pickup_address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "delivery_address",
              "displayName": "delivery_address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "selected_agent",
              "displayName": "selected_agent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "final_price_usd",
              "displayName": "final_price_usd",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "final_price_aed",
              "displayName": "final_price_aed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "quoted_at",
              "displayName": "quoted_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        0,
        192
      ],
      "id": "b06460e3-5ebd-4029-95be-99f83a4fe338",
      "name": "Logger - Need Door Data",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "JHr0YGDRPjWHDYAj",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1c-O7SCygVbl-x4v_E_IYih4OXBNqtJURD3P66r6zC90",
          "mode": "list",
          "cachedResultName": "Pricing Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1c-O7SCygVbl-x4v_E_IYih4OXBNqtJURD3P66r6zC90/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 552411421,
          "mode": "list",
          "cachedResultName": "Master_RFQs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1c-O7SCygVbl-x4v_E_IYih4OXBNqtJURD3P66r6zC90/edit#gid=552411421"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "thread_id": "={{ $('Gmail Trigger').item.json.threadId }}",
            "customer_email": "={{ $('Gmail Trigger').item.json.from.value[0].address }}",
            "status": "Missing_Port_Data",
            "pol": "={{ $('Parse & Route').item.json.sheetsPol }}",
            "pod": "={{ $('Parse & Route').item.json.sheetsPod }}",
            "received_at": "={{ $now.format('yyyy-MM-dd hh:mm a') }}",
            "container_type": "={{ $('Parse & Route').item.json.sheetsContainerType }}",
            "qty": "={{ $('Parse & Route').item.json.sheetsQty }}",
            "ready_date": "={{ $('Parse & Route').item.json.sheetsReadyDate }}",
            "service_type": "={{ $('Parse & Route').item.json.sheetsServiceType }}",
            "pickup_address": "={{ $('Parse & Route').item.json.sheetsPickupAddress }}",
            "delivery_address": "={{ $('Parse & Route').item.json.sheetsDeliveryAddress }}",
            "rfq_id": "={{ $('Parse & Route').item.json.rfqId }}"
          },
          "matchingColumns": [
            "thread_id"
          ],
          "schema": [
            {
              "id": "thread_id",
              "displayName": "thread_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "rfq_id",
              "displayName": "rfq_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "customer_email",
              "displayName": "customer_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "received_at",
              "displayName": "received_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pol",
              "displayName": "pol",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pod",
              "displayName": "pod",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "container_type",
              "displayName": "container_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "qty",
              "displayName": "qty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ready_date",
              "displayName": "ready_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "service_type",
              "displayName": "service_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pickup_address",
              "displayName": "pickup_address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "delivery_address",
              "displayName": "delivery_address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "selected_agent",
              "displayName": "selected_agent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "final_price_usd",
              "displayName": "final_price_usd",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "final_price_aed",
              "displayName": "final_price_aed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "quoted_at",
              "displayName": "quoted_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        0,
        384
      ],
      "id": "7b320f46-a281-4b21-a517-42d56cd5b211",
      "name": "Logger - Need Port Data",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "JHr0YGDRPjWHDYAj",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "addLabels",
        "threadId": "={{ $('Process Email').first().json.emailMeta.threadId }}",
        "labelIds": [
          "Label_4541647552047391561"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        448,
        192
      ],
      "id": "ff494a5e-6627-402c-abe1-2f1350875610",
      "name": "Label - Missing Address",
      "webhookId": "732d8d4a-2624-46b4-b6d3-2fc9eedde248",
      "credentials": {
        "gmailOAuth2": {
          "id": "1ewuYqHBFtobt1D6",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "addLabels",
        "threadId": "={{ $('Process Email').first().json.emailMeta.threadId }}",
        "labelIds": [
          "Label_4541647552047391561"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        448,
        384
      ],
      "id": "15e67333-5194-4000-88e0-27b8920a61e8",
      "name": "Label - Missing Data",
      "webhookId": "732d8d4a-2624-46b4-b6d3-2fc9eedde248",
      "credentials": {
        "gmailOAuth2": {
          "id": "1ewuYqHBFtobt1D6",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "reply",
        "threadId": "={{ $('Process Email').first().json.emailMeta.threadId }}",
        "messageId": "={{ $('Process Email').first().json.emailMeta.id }}",
        "message": "=Dear Customer,\n\nThank you for your shipping inquiry. We have identified this as a door-to-door / door service request.\n\n{{ $('Parse & Route').first().json.currentDetails !== 'No shipment details could be extracted' ? 'Here is what we have captured so far:\\n\\n' + $('Parse & Route').first().json.currentDetails + '\\n\\n━━━━━━━━━━━━━━━━━━' : '' }}\n\nTo complete your quotation, we need the following missing details:\n\n{{ $('Parse & Route').first().json.missingFormatted }}\n\nPlease note:\n- For pickup addresses, include the company name, full street address, city, and country\n- For delivery addresses, include the company/warehouse name, full street address, area, city, and country\n- If you have a Google Maps link for either location, please share it\n\nWe will process your quote as soon as we receive this information.\n\nBest regards,\nPricing Team",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        224,
        192
      ],
      "id": "1ef26ed9-e2af-4c4f-bf7b-920fb32c58e7",
      "name": "Reply: Ask Address",
      "webhookId": "79c8516c-3dde-43c6-8529-0cc1c5319a79",
      "credentials": {
        "gmailOAuth2": {
          "id": "1ewuYqHBFtobt1D6",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Process Email').first().json.emailMeta.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -448,
        384
      ],
      "id": "f3932d07-8d09-48cf-8ef6-83ac0c3007c9",
      "name": "Read",
      "webhookId": "06ac909f-09d9-4132-8f48-ef65e6cac2bf",
      "credentials": {
        "gmailOAuth2": {
          "id": "1ewuYqHBFtobt1D6",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.2",
          "mode": "list",
          "cachedResultName": "gpt-5.2"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1024,
        528
      ],
      "id": "abeab668-ae8c-478c-bd26-4cd66404f03f",
      "name": "gpt",
      "credentials": {
        "openAiApi": {
          "id": "S8ixyXpHg3vCQZfS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "pricingailog@gmail.com",
        "subject": "=[FALLBACK] Email Could Not Be Parsed — Manual Review Required | {{ $('Parse & Route').first().json.rfqId }}",
        "message": "=<div style=\\\"font-family: Arial, sans-serif; max-width: 700px; border: 2px solid #e74c3c; border-radius: 8px; padding: 24px;\\\">\\n\\n  <h2 style=\\\"color: #e74c3c; margin-top: 0;\\\">⚠️ Fallback Alert — Email Parsing Failed</h2>\\n\\n  <p>An incoming customer email could <strong>not be automatically parsed</strong> by the Phase 1 AI Extractor. The email has been labelled <em>Fallback</em> in Gmail and requires <strong>manual review</strong>.</p>\\n\\n  <hr style=\\\"border: 1px solid #eee;\\\" />\\n\\n  <h3 style=\\\"color: #333;\\\">📋 Email Details</h3>\\n  <table style=\\\"width: 100%; border-collapse: collapse; font-size: 14px;\\\">\\n    <tr style=\\\"background: #f9f9f9;\\\">\\n      <td style=\\\"padding: 8px 12px; font-weight: bold; width: 180px;\\\">RFQ ID</td>\\n      <td style=\\\"padding: 8px 12px;\\\">{{ $('Parse & Route').first().json.rfqId }}</td>\\n    </tr>\\n    <tr>\\n      <td style=\\\"padding: 8px 12px; font-weight: bold;\\\">From</td>\\n      <td style=\\\"padding: 8px 12px;\\\">{{ $('Process Email').first().json.emailMeta.from }}</td>\\n    </tr>\\n    <tr style=\\\"background: #f9f9f9;\\\">\\n      <td style=\\\"padding: 8px 12px; font-weight: bold;\\\">Subject</td>\\n      <td style=\\\"padding: 8px 12px;\\\">{{ $('Process Email').first().json.emailMeta.subject }}</td>\\n    </tr>\\n    <tr>\\n      <td style=\\\"padding: 8px 12px; font-weight: bold;\\\">Received At</td>\\n      <td style=\\\"padding: 8px 12px;\\\">{{ $('Process Email').first().json.emailMeta.date }}</td>\\n    </tr>\\n    <tr style=\\\"background: #f9f9f9;\\\">\\n      <td style=\\\"padding: 8px 12px; font-weight: bold;\\\">Thread ID</td>\\n      <td style=\\\"padding: 8px 12px;\\\">{{ $('Process Email').first().json.emailMeta.threadId }}</td>\\n    </tr>\\n    <tr>\\n      <td style=\\\"padding: 8px 12px; font-weight: bold;\\\">Message ID</td>\\n      <td style=\\\"padding: 8px 12px;\\\">{{ $('Process Email').first().json.emailMeta.id }}</td>\\n    </tr>\\n  </table>\\n\\n  <hr style=\\\"border: 1px solid #eee;\\\" />\\n\\n  <h3 style=\\\"color: #333;\\\">🤖 AI Extraction Result</h3>\\n  <p style=\\\"background: #fff8e1; padding: 12px; border-left: 4px solid #f39c12; border-radius: 4px; font-size: 14px;\\\">\\n    The AI Extractor returned an invalid or unstructured response. No shipment fields (POL, POD, container type, quantity, cargo ready date) could be confidently extracted.\\n  </p>\\n\\n  <h3 style=\\\"color: #333;\\\">📧 Original Email Body</h3>\\n  <div style=\\\"background: #f4f4f4; padding: 14px; border-radius: 6px; font-size: 13px; white-space: pre-wrap; word-break: break-word;\\\">{{ $('Process Email').first().json.emailBody }}</div>\\n\\n  {{ $('Process Email').first().json.attachmentText ? '<h3 style=\\\"color: #333;\\\">📎 Attachment Text</h3><div style=\\\"background: #f4f4f4; padding: 14px; border-radius: 6px; font-size: 13px; white-space: pre-wrap;\\\">' + $('Process Email').first().json.attachmentText + '</div>' : '' }}\\n\\n  <hr style=\\\"border: 1px solid #eee;\\\" />\\n\\n  <h3 style=\\\"color: #333;\\\">✅ Required Actions</h3>\\n  <ol style=\\\"font-size: 14px; line-height: 1.8;\\\">\\n    <li>Open the original email in Gmail using the Thread ID above.</li>\\n    <li>Manually extract shipment details (POL, POD, container type, qty, cargo ready date, service type).</li>\\n    <li>Reply to the customer directly or create the RFQ manually.</li>\\n    <li>If not a valid inquiry (spam, out-of-scope), mark it accordingly.</li>\\n  </ol>\\n\\n  <p style=\\\"background: #fdecea; padding: 12px; border-radius: 4px; font-size: 13px; color: #c0392b;\\\">\\n    <strong>Note:</strong> A generic fallback reply has already been sent to the customer. No further reply needed unless handling manually.\\n  </p>\\n\\n  <hr style=\\\"border: 1px solid #eee;\\\" />\\n  <p style=\\\"font-size: 12px; color: #999;\\\">Automated alert from Phase 1 — Request Analysis. Do not reply to this message.</p>\\n\\n</div>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        672,
        576
      ],
      "id": "1ff0a76a-b81e-4471-9347-8c7e3e62cc38",
      "name": "Notify Mail",
      "webhookId": "9fab5300-f748-4883-97f8-6b89ccb01de3",
      "credentials": {
        "gmailOAuth2": {
          "id": "1ewuYqHBFtobt1D6",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "=Subject: {{ $json.subject }}\nFrom: {{ $json.from?.value?.[0]?.address ?? $json.from }}\nBody: {{ ($json.text || $json.snippet || '').slice(0, 800) }}",
        "categories": {
          "categories": [
            {
              "category": "agent_rate_reply",
              "description": "=Email from a freight agent containing shipping rates, carrier names, pricing, validity dates, or a decline/no space response. Subject usually contains a Ref ID like \"Ref: RFQ-XXXXXXXX\"."
            },
            {
              "category": "customer_rfq",
              "description": "=New email from a customer requesting a freight quote. Contains container types, port mentions, or shipping inquiry language. No Ref ID in subject."
            },
            {
              "category": "customer_followup",
              "description": "=Customer replying to an existing quote thread. May reference a previous conversation, ask for clarification, or confirm details. Usually has a Ref ID or \"Re:\" in subject."
            },
            {
              "category": "booking_confirmation",
              "description": "=Booking confirmation, B/L notification, or vessel confirmation from an agent or shipping line. Contains booking numbers or bill of lading references."
            },
            {
              "category": "out_of_scope",
              "description": "=Spam, newsletters, unrelated emails, or anything that doesn't fit the above categories."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -1648,
        368
      ],
      "id": "e7c0d8bc-8c14-403e-9e11-b1cb7199bbc7",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1648,
        656
      ],
      "id": "208d4f9c-4d9e-462a-b4f9-d482e67856aa",
      "name": "5 mini",
      "credentials": {
        "openAiApi": {
          "id": "S8ixyXpHg3vCQZfS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Gmail Trigger').first().json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -1248,
        576
      ],
      "id": "59430bb7-28d3-4f26-bec6-e30db55f834d",
      "name": "Read1",
      "webhookId": "07181189-506d-48a5-a095-ef2f4ecb0eed",
      "credentials": {
        "gmailOAuth2": {
          "id": "1ewuYqHBFtobt1D6",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router": {
      "main": [
        [
          {
            "node": "Logger - Complete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Logger - Need Door Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Logger - Need Port Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Logger - Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Route": {
      "main": [
        [
          {
            "node": "Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Extractor": {
      "main": [
        [
          {
            "node": "Parse & Route",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Email": {
      "main": [
        [
          {
            "node": "AI Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Active Agents": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Label - Processing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agent Mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sheets": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Time Check": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Active Agents",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Active Agents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Active Agents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Logger - Complete": {
      "main": [
        [
          {
            "node": "Remove Label",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply: Ask Data": {
      "main": [
        [
          {
            "node": "Label - Missing Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Logger - Fallback": {
      "main": [
        [
          {
            "node": "Reply: Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply: Fallback": {
      "main": [
        [
          {
            "node": "Label - Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Label": {
      "main": [
        [
          {
            "node": "Time Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Label - Requested": {
      "main": [
        [
          {
            "node": "Update Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent Mail": {
      "main": [
        [
          {
            "node": "Label - Requested",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Logger - Need Door Data": {
      "main": [
        [
          {
            "node": "Reply: Ask Address",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Logger - Need Port Data": {
      "main": [
        [
          {
            "node": "Reply: Ask Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply: Ask Address": {
      "main": [
        [
          {
            "node": "Label - Missing Address",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read": {
      "main": [
        [
          {
            "node": "Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gpt": {
      "ai_languageModel": [
        [
          {
            "node": "AI Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Label - Fallback": {
      "main": [
        [
          {
            "node": "Notify Mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5 mini": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [],
        [
          {
            "node": "Process Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Email",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Read1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "ebdcc05c-63f7-467a-9923-1821fe74f5db",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ac6c2f2b1568d3ca48ddf9fe6ac6538b01ec9e4c58869c8c9e883c043f74f11b"
  },
  "id": "qlHEobLw9wz5zno_HEeYk",
  "tags": [
    {
      "updatedAt": "2026-02-17T10:12:12.190Z",
      "createdAt": "2026-02-17T10:12:12.190Z",
      "id": "iYuTQFEBlT79yAli",
      "name": "Logistics"
    }
  ]
}